:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* App */
.appContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 100vw !important;
    height: 100vh !important;
}
/* App */

/* Main Components */
.mainContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-grow: 1 !important;
    gap: 1rem !important;
}

.mainButton {
    width: 200px !important;
    height: 60px !important;
    font-size: 1.5rem !important;
}
/* Main Components */

/* NavBar */
.navbarButtons {
    color: white !important;
    text-transform: none !important;
}

.navbarLogo {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.navbarDialog {
    padding: 20px !important;
    background-color: #333 !important;
    border-radius: 20px !important;
}
/* NavBar */

/* Login */
.loginContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 8px !important;
    background-color: #333 !important;
    color: white !important;
}

.loginContainer2 {
    display: flex !important;
    justify-content: space-between !important;
}

.loginElement {
    cursor: pointer !important;
    color: white !important;
}

/* Login */

/*Select*/
.select-container {
    width: 200px !important;
    margin-bottom: 1rem !important;
    color: white !important;
    background-color: #1976d2 !important;
    border-radius: 8px !important;
    border: none !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    cursor: pointer !important;
    transition:
        background-color 0.3s ease,
        color 0.3s ease !important;
}

.select-container:hover {
    background-color: #1e88e5 !important;
}

.select-container select {
    width: 100% !important;
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.select-container::after {
    content: '▼' !important;
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    pointer-events: none !important;
    color: white !important;
}
/*Select*/

/*Leaderboard*/
.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    gap: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.leaderboard-title {
    font-size: 1.5rem;
    font-weight: bold;
}
/*Leaderboard*/

/*Table*/
.table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-radius: 12px !important;
    overflow: hidden !important;
}

.table-head-cell {
    color: white !important;
    font-weight: bold !important;
    background-color: #1976d2 !important;
    border-bottom: 2px solid #0d47a1 !important;
}

.table-body-cell {
    color: white !important;
    background-color: #1565c0 !important;
    border-bottom: 1px solid !important;
}

.table-body-cell:hover {
    background-color: #1e88e5 !important;
}

.table-container {
    overflow-x: auto !important;
}

.table-body-cell {
    transition:
        background-color 0.3s ease,
        color 0.3s ease !important;
}
/*Table*/

/*Loading*/
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.loading-text {
    color: white;
    margin-top: 0.5rem;
}
/*Loading*/

/*Error*/
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.error-text {
    color: red;
    font-weight: bold;
}
/*Error*/

/*GameModes*/
.mainButtonContainer {
    display: flex !important;
    gap: 1rem !important;
}

.withinGameModeButton {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.gameMessage {
    margin-bottom: 1rem !important;
}

.gameTask {
    margin-bottom: 2rem !important;
}

.gameAnswerCounter {
    margin-bottom: 2rem !important;
}

.gameContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-grow: 1 !important;
    gap: 1rem !important;
}

.gameButtonsContainer {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 1rem !important;
    justify-items: center !important;
    width: 100% !important;
    max-width: 800px !important;
}

.gameButton {
    width: 200px !important;
    height: 60px !important;
    font-size: 1.5rem !important;
    background-color: #1976d2 !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    transition:
        background-color 0.3s ease,
        color 0.3s ease !important;
}

.gameButton.selected.correct {
    background-color: #00780a !important;
}

.gameButton.selected.incorrect {
    background-color: #780000 !important;
}

.gameButton.default {
    background-color: #1976d2 !important;
}

.gameButton.disabled {
    color: #181818 !important;
    background-color: #202020 !important;
}

.gameButton:hover {
    background-color: #1565c0 !important;
}

.restartButton {
    width: 200px !important;
    height: 60px !important;
    font-size: 1.5rem !important;
    background-color: #1976d2 !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    transition:
        background-color 0.3s ease,
        color 0.3s ease !important;
    visibility: hidden !important;
}

.restartButton.visible {
    visibility: visible !important;
}

.restartButton:hover {
    background-color: #1565c0 !important;
}

.timer {
    position: absolute !important;
    top: 15px !important;
    right: 10px !important;
    color: white !important;
    font-weight: bold !important;
}

.mathsStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border: 0.1cm solid black;
    border-radius: 1rem;
}

.mathsHintGridTypo {
    text-align: center;
    margin-bottom: 2rem;
}
/*GameModes*/

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
